// search
input {
  width: 30em;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body {
  background: #dbdcdc !important;
}

.logo {
  color: #fff !important;
}

#header {
  background: #232f3e;
}

.searchBtn {
  color: #fff;
  background: transparent;
  border: solid 2px #f7f7f7;
  border-radius: 5px;
  padding: 5px 20px;
}

#menu {
  background: #fff;
  .options {
    border: none;
    color: #2a2e43;
    font-weight: 500;
    padding-left: 20px;
  }
}

.scroller {
  width: 300px;
  height: 400px;
  overflow-y: scroll;
  scrollbar-color: #007bff #d6d7d8;
  scrollbar-width: thin;
}

.page-footer {
  background: #232f3e;
  color: #fff;
}
